<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health Data Input</title>
</head>
<body>
    <h1>Input Health Data</h1>
    <form method="post">
        Age: <input type="number" name="age"><br>
        Weight (kg): <input type="number" step="0.1" name="weight"><br>
        Height (cm): <input type="number" step="0.1" name="height"><br>
        Systolic BP (mmHg): <input type="number" name="systolic_bp"><br>
        Diastolic BP (mmHg): <input type="number" name="diastolic_bp"><br>
        Cholesterol (mg/dL): <input type="number" name="cholesterol"><br>
        Glucose (mg/dL): <input type="number" name="glucose"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
