<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        Age: <input type="number" name="age" required><br>
        Cholesterol (mg/dL): <input type="text" name="cholesterol" required><br>
        Systolic Blood Pressure (mmHg): <input type="text" name="blood_pressure_systolic" required><br>
        Diastolic Blood Pressure (mmHg): <input type="text" name="blood_pressure_diastolic" required><br>
        Glucose (mg/dL): <input type="text" name="glucose" required><br>
        Weight (kg): <input type="text" name="weight" required><br>
        Height (m): <input type="text" name="height" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
